body{
    margin: 0%;
}
nav{
    background-color: rgba(38, 143, 120, 0.596);
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{ 
    color: black;
    text-decoration: none;
}
nav a:hover{
    color: ;
    text-decoration: underline;

}
nav a:first-child{
    color: rgb(239, 255, 17);
    font-family: 'Lobster', cursive;
    font-size:45px;
}
section{
    display: flex;
    height: 350px;
    justify-content: center;
    margin-top: 30px;
}
section div{
    background-color: rgb(239, 255, 17);
    display: flex;
    flex-direction: column;
    height: 169px;
    align-items: center;
    border-radius: 10px;
}
div input{
    margin-bottom: 5px;
    width: 95%;
}

section div input:nth-child(4){
    margin-top: 20px;
    width: 70%;
    background-color: aqua;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
    height: 20px;
}
input::placeholder{
    color: blue;
    text-align: center;
}
:focus{
background-color: rgb(182, 124, 236);
}
footer input, button, p{
    color: seagreen;
}
footer{
height: 100px;
display:flex;
justify-content: center;
align-items: center;
background-color: rgba(38, 143, 120, 0.596);
justify-content: space-around;
}
.img{
    width: 40px;
    height: 40px;
}
header{
    height: 200px;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTri9zFGw_PsLm0sfiGP0M68Xl9EkRRD8biY2I9q_lsZZBH_pAW);
}